$bg-light : #f9f9f9;
$text-light : #F1FAEE;
$bg-dark : #1d3557;
$text-dark : #1D3557;
$bg-indigo : #4338CA;
$bg-results : #1e293b;
$bg-red : rgb(231, 3, 3);
$text-red : rgb(231, 3, 3);
$text-green : rgb(146, 219, 37);
$bg-light-blue : #caf0f8;
$bg-current: #d5d5d5;
$border-color: #aaa;