@mixin centered-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin centered-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin space-between-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}